<footer>
    <p id="license">&copy; 2024 ТОО «LED SYSTEM PRODUCTION»</p>
    <div class="nav-links">
        <a href="/index.html">КОМПАНИЯ</a>
        <a href="/catalog.html">ТОВАРЫ</a>
        <a href="/requisites.html">КОНТАКТЫ</a>
    </div>
    <div class="telephone footer-telephone">
        <div class="telephone-numbers">
            <p class="primary-number">+7 705 371 02 50</p>
            <p class="secondary-number">+7 705 444 77 03</p>
        </div>
        <span class="arrow">&#9650;</span> <!-- Стрелка вверх -->
    </div>
</footer>
